
body{
    margin-left: 10em;
    /* margin-right: 12em; */
    width:800px;
    /* margin-right: -15em; */
}
#freeButton{
    border:1px solid rgb(240, 107, 151);
    border-radius: 5px;
    width:200px;
    padding: 10px;
    color:rgb(240, 107, 151);
    background-color: #fff;
    margin-left: 45em;  
}

#messageSent{
    text-align:right;
}
#growTogether{
    background-color: rgb(247, 252, 253);
    margin-top: -1.7em;
}

#build{
   margin-top: 4em;
   font-size: 40px;
   margin: 3em 2em 2em 1em;
}

#screens{
    width:400px;
    height: 300px;
}
.startButton{
    border:1px solid rgb(240, 107, 151);
    background-color:rgb(240, 107, 151) ;
    color:white;
    border-radius: 5px;
    width:200px;
    padding: 10px;
    margin-left: 30em;
}
footer{
    background-color: rgb(1, 61, 42);
}


@media (max-width: 740px) {
body{
    margin-left: 2em;
    margin-right: 0.2em;
}
#freeButton{
    border:1px solid rgb(240, 107, 151);
    border-radius: 5px;
    padding: 10px;
    color:rgb(240, 107, 151);
    background-color: #fff;
    /* margin-left: 45em;   */

}
}